ttkbootstrap
pdfplumber
langdetect
transformers
python-docx
pillow
opencv-python
pytesseract
numpy
multiprocessing-logging
requests
paddleocr
paddlepaddle-gpu>=2.6.0 ; platform_system=="Windows"
marshmallow
decorator
scikit-image
lmdb
visualdl
beautifulsoup4
premailer
openpyxl
attrdict
PyMuPDF
